<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.provider.dao.dao03.UserDao03">
    <select id="selectAll" resultType="com.cloud.provider.entity.User">
        SELECT * FROM tb_user
    </select>

    <select id="findOne" resultType="com.cloud.provider.entity.User">
        SELECT * FROM tb_user where id = #{id}
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO tb_user (id,username,address) VALUES (null,#{username},#{address})
    </insert>

    <update id="modify">
        UPDATE tb_user set username = #{username},address = #{address} WHERE id = #{id}
    </update>

</mapper>